* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
#table-container {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 20px;
}
td,
th {
	padding: 0 10px;
	text-align: left;
}
th {
	cursor: pointer;
}
tr:hover,
td:hover {
	background: lightcyan;
}
input {
	width: 100px;
}
.input {
	width: 150px;
}
.hidden-td {
	display: none;
}
